<div class="container">
  <button routerLink="/about" class="btn btn-primary">About</button>
  <button routerLink="/contacts" class="btn btn-primary">Contacts</button>




<!--
//Appel du composant aboutComponent
<app-about></app-about>

//Appel du composant contactComponentmais déclaré en tant qu'attribut
<div app-contact=""></div>


  <ul>
//dataBinding appel de l'objet contact
    <li>Name: {{contact.name}}</li>
    <li>Email: {{contact.email}}</li>

  </ul>
-->
</div>
<router-outlet>

</router-outlet>
